@import "tailwindcss";

:root {
  --background: #f8f9ff;
  --foreground: #0b1c30;
}

@theme inline {
  --color-background: #f8f9ff;
  --color-foreground: #0b1c30;
  --color-primary: #0058be;
  --color-primary-foreground: #ffffff;
  --color-secondary: #eff4ff;
  --color-secondary-foreground: #0058be;

  --color-surface: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-bright: #f8f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-surface-variant: #d3e4fe;

  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #45464d;
  --color-on-background: #0b1c30;

  --color-inverse-surface: #213145;
  --color-inverse-on-surface: #eaf1ff;
  --color-inverse-primary: #bec6e0;

  --color-outline: #76777d;
  --color-outline-variant: #c6c6cd;

  --color-secondary-container: #2170e4;
  --color-on-secondary-container: #fefcff;
  --color-on-secondary: #ffffff;
  --color-secondary-fixed: #d8e2ff;
  --color-secondary-fixed-dim: #adc6ff;
  --color-on-secondary-fixed: #001a42;
  --color-on-secondary-fixed-variant: #004395;

  --color-primary-container: #131b2e;
  --color-on-primary-container: #7c839b;
  --color-on-primary-fixed: #131b2e;
  --color-on-primary-fixed-variant: #3f465c;
  --color-primary-fixed: #dae2fd;
  --color-primary-fixed-dim: #bec6e0;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --color-tertiary-fixed: #fcdeb5;
  --color-on-tertiary-fixed: #271901;
  --color-on-tertiary-container: #98805d;

  --spacing-gutter: 16px;
  --spacing-container-margin: 24px;
  --spacing-card-padding: 20px;
  --spacing-stack-sm: 8px;
  --spacing-stack-md: 16px;
  --spacing-stack-lg: 32px;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

select option {
  color: #000 !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
